.Item {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin: 10px;
  background-color: white;
  box-shadow: 1px 1px 8px 3px #c8c6c6;
  transition: 250ms all;
  margin-bottom: 60px;
  text-decoration: none;
  color: black;
}

.Item:hover {
  transform: scale(1.04);
  opacity: 0.8;
  color: black;
}

.item-image {
  min-height: 295px;
  max-height: 295px;
  min-width: 300px;
  max-width: 300px;
  background-size: cover;
}

.item-name {
  line-height: 1;
  margin-top: 0.75rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #546747;
}

.item-category {
  font-weight: 300;
  margin-bottom: 0.75rem;
  margin-left: 0.5rem;
  margin-top: 0.25rem;
  text-transform: lowercase;
  color: #546747;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .item-name {
    font-size: 1.75rem;
    font-weight: 500;
  }
  .item-category {
    font-weight: 350;
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .item-name {
    font-size: 1.75rem;
  }
  .item-category {
    font-weight: 300;
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 600px) {
  .Item {
    margin-left: 2rem;
    margin-right: -6.25rem;
  }

  .item-name {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .item-category {
    font-weight: 300;
    font-size: 1.1rem;
  }
  .item-image {
    min-width: 200px;
    max-width: 300px;
  }
}
