.Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: white;
  box-shadow: 0px 0px 3px 1px #cecece;
  transition: 250ms all;
  margin-bottom: 60px;
  text-decoration: none;
  color: black;
}

.Item:hover {
  transform: scale(1.04);
  opacity: 0.8;
  color: black;
}

.item-image {
  min-height: 295px;
  max-height: 295px;
  min-width: 300px;
  max-width: 300px;
  background-size: cover;
}

.item-name {
  line-height: 1;
  margin-top: 0.75rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
}

.item-category {
  font-weight: 300;
  text-align: center;
  margin-bottom: 0.75rem;
}
