.signup-container {
  display: grid;
  justify-content: center;
  margin-top: 5rem;
  width: 100vw;
}
#signup-header {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #546747;
  text-transform: uppercase;
  margin-bottom: 0 !important;
  font-weight: 350 !important;
}

.signup-form {
  box-shadow: 2px 2px 6px 3px #2b331f;
  border-radius: 1%;
  width: 600px;
  padding: 20px;
  background-color: #bbc8ba;
  margin-top: 4rem;
}
.sign-input {
  background-color: #ffff !important;
  margin: 20px;
  padding: 10px;
  width: 450px !important;
  margin-left: 50px;
  margin-top: 30px;
}

#signup-button {
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  color: white !important;
  background-color: #546747;
  border: 1px solid #546747;
  text-transform: uppercase;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #signup-header {
    margin-top: 1.5rem !important;
    font-size: 2rem !important;
  }
  .signup-form {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  #signup-header {
    margin-top: -1rem !important;
  }
  .signup-form {
    width: 90% !important;
    margin-left: 2rem;
  }
  .form-control {
    margin-left: 2rem;
    margin-right: 3rem;
    min-width: 80% !important;
  }
  #signup-button {
    width: 150px;
    margin-left: 305px;
    margin-top: 0.25rem !important;
    margin-bottom: 0.5rem !important;
    font-weight: 500;
  }
}
@media only screen and (max-width: 600px) {

  .signup-container {
    display: grid;
    justify-content: center;
    margin-top: 5rem;
    width: 70vw;
  }
  #signup-header {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #546747;
    text-transform: uppercase;
    margin-bottom: 0 !important;
    font-weight: 350 !important;
  }
  
  .signup-form {
    box-shadow: 2px 2px 6px 3px #2b331f;
    border-radius: 1%;
    width: 90vw;
    padding: 0px;
    background-color: #bbc8ba;
    margin-top: 2rem;
  }
  
  .sign-input {
    background-color: #ffff !important;
    margin: 20px;
    padding: 10px;
    width: 85vw !important;
    margin-left: 9px;
    margin-top: 5px;
  }
  
  #signup-button {
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    color: white !important;
    background-color: #546747;
    border: 1px solid #546747;
    text-transform: uppercase;
  }
  
  /* .signup-container {
    display: grid;
    justify-content: center;
    margin-top: 5rem;
    width: 70vw;
  }

  #signup-header {
    display: block;
    margin: 10 auto;
    margin-top: 0 !important;
    text-align: center;
    color: #546747;
    text-transform: uppercase;
    font-weight: 350;
  }

  .signup-form {
    margin: 0 auto;
    border-radius: 2%;
    padding: 0;
    min-width: 70vw;
    margin-bottom: -11.5rem !important;
  }

  .sign-input {
    width: 85% !important;
    margin-left: 2.5rem !important;
  }

  #signup-button {
    font-size: 1.2rem !important;
    width: 125px;
    margin-top: 2rem !important;
    margin-left: 6.75rem !important;
    margin-bottom: 1.5rem !important;
  } */
}
