.create-form {
  margin-top: 400px;
}

#add-header {
  display: block;
  margin: 0 auto;
  margin-top: 6.5rem;
  text-align: center;
  color: #546747;
  text-transform: uppercase;
  margin-bottom: 0 !important;
  font-weight: 350;
}

.create-form {
  box-shadow: 2px 2px 6px 3px #2b331f;
  border-radius: 1%;
  width: 45vw;
  padding: 20px;
  padding-top: 0.5rem;
  background-color: #bbc8ba;
  margin-top: 4rem;
}

.form-container {
  display: grid;
  justify-content: center;
}

.add-input {
  background-color: #ffff !important;
  border: 1px solid #ffff;
  margin: 20px;
  padding: 10px;
  width: 33.5vw !important;
  margin-left: 57px;
  margin-top: 30px;
}

#submit-button {
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-top: 1.4rem;
  color: white !important;
  background-color: #546747;
  border: 1px solid #546747;
  text-transform: uppercase;
}
@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  #add-header {
    margin-top: 5rem;
  }
  .create-form {
    width: 40vw;
    padding-left: 0.5rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #add-header {
    font-size: 2rem !important;
  }
  .create-form {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
  #add-header {
    margin-top: 5rem !important;
  }
  .create-form {
    width: 70vw !important;
    margin-left: 2rem;
  }
  .add-input {
    margin-left: 3.5rem;
    margin-right: 3rem;
    min-width: 80% !important;
  }
  #submit-button {
    width: 120px;
    margin-top: 0.25rem !important;
    margin-bottom: 0.5rem !important;
    font-weight: 500;
  }
}

@media only screen and (max-width: 375px) {
  #add-header {
    font-size: 1.75rem !important;
    font-weight: 500;
    margin-top: 5.5rem !important;
    margin-left: 7rem;
  }

  .create-form {
    min-width: 95vw;
    margin-left: 8rem;
    margin-bottom: -15rem !important;
  }
  .add-input {
    width: 80vw !important;
    margin-left: 1.5rem;
    margin-bottom: 0;
  }

  #submit-button {
    font-size: 1.2rem !important;
    width: 125px;
    margin-top: 1.5rem !important;
    margin-bottom: 0.25rem !important;
  }
}
