.create-form {
  margin-top: 400px;
}

.header {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #546747;
  text-transform: uppercase;
  font-weight: 350;
  margin-top: 4rem;
}

.create-form {
  border: 5px solid #546747;
  border-radius: 1%;
  padding: 10px;
  margin-top: 100px;
  height: 450px;
  width: 600px;
}

.form-container {
  display: grid;
  justify-content: center;
}

.add-input {
  margin: 20px;
  width: 400px !important;
  margin-left: 80px;
  background-color: #fddca5 !important;
}

.submit-button {
  background-color: #546747 !important;
  font-size: 20px !important;
  width: 150px;
  margin-top: 15px;
  margin-left: 330px;
}
