html, .login-container, body {
  background-color: #FAFAF2;
}
body {
  background: #FAFAF2 !important;
}

.login-container{
  display: grid;
  justify-content: center;
  width: 100vw;
  
}

#login-form {
  margin-top: 100px;
  border: 8px solid #2b331f;
  border-radius: 2%;
  padding: 20px;
  width: 500px;
  height: 400px;
  background-color: white;
}

#login-header {
  text-align: center;
  color: #546747;
}

.form-element {
  margin: 10px;
  
}

.login-body {
  display: grid;
  justify-content: center;
}

.login-row {
  margin: 50px;
}

#email-input {
  margin-top: 60px;
}

#password-input {
  margin-top: 40px;
}

#header-text {
  margin-top: 100px;
  font-size: 25px;
}

.form-input {
  background-color: #fddca5 !important;
  font-size: 20px !important;
}

#login-button {
  background-color: #2b331f !important;
  font-size: 20px;
  width: 100px;
  margin-top: 30px;
  margin-left: 345px;
}

#login-signup {
  margin-top: 10px;
  margin-left: 168px;
}
