html, .login-container, body {
  background-color: #FAFAF2;
}
body {
  background: #FAFAF2 !important;
}

.login-container{
  margin-top: 200px;
  display: grid;
  justify-content: center;
  width: 100vw;
  
}

#login-form {
  border: 3px solid #546747;
  border-radius: 2%;
  padding: 20px;
  width: 500px;
}

#login-header {
  text-align: center;
  color:#546747;
}

.form-element {
  margin: 10px;
}

.login-row {
  margin: 100px;
}

#header-text {
  font-size: 25px;
}
