.item-edit {
  font-family: "Roboto", sans-serif;
  display: flex;
  background-color: white;
  margin: 100px auto 0 auto;
  width: 70vw;
}

.edit-item-image {
  display: flex;
  background-size: cover;
  min-height: 295px;
  max-height: 295px;
  min-width: 300px;
  max-width: 300px;
}

.edit-form {
  width: 90%;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.e-detail{
  width: 90%;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 5px 20px 0 ;
}

.e-input{
  margin: 5px 0;
}

.e-label{
  font-family: "Roboto", sans-serif;
  font-size: 9px;
}
/* 
.name {
  font-size: 25px;
  font-weight: 700;
}



.benefits {
  width: 40vw;
  margin-top: -5px;
}

.quantity {
  display: flex;
  font-size: 15px;
  width: 110%;
  align-items: baseline;
  justify-content: flex-end;
  height: 20px;
}

.quantity h4 {
  font-size: 15px;
  font-weight: 700;
  margin-right: 3px;
}

.box{
  font-weight: 700;
  display: flex;
  font-size: 15px;
  width: 110%;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: -20px;
  padding: 0 10px;
}

.button-container{
  display: flex;
    justify-content: space-evenly;
    width: 40vw;
    margin: 10px 0 0 580px;
}

button{
  font-weight: 500;
  font-size: 5px;
  background-color: #546747;
  color: white;
  border: none;
  border-radius: 2px;
} */