.Layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.layout-children {
  flex: 2;
  padding: 100px;
}

@media only screen and (max-width: 600px) {
  .layout-children {
    padding: 0px;
    margin: 0px;
  }
}