#detail-header {
  display: block;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
  color: #546747;
  text-transform: capitalize;
  font-weight: 500;
}
#detail-header span {
  font-weight: 700;
  text-shadow: 1px 1px 1px #000000;
  text-transform: uppercase;
}
.item-detail {
  font-family: "Roboto", sans-serif;
  display: flex;
  background-color: #ffffff;
  box-shadow: 2px 2px 6px 3px #2b331f;
  border-radius: 1%;
  margin: 5rem auto 0 auto;
  width: 70vw;
}

.item-image {
  display: flex;
  background-size: cover;
  height: 80vh !important;
}

.detail {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 20px 20px 20px;
}

.name {
  font-size: 25px;
  font-weight: 700;
}

.category {
  font-size: 15px;
  font-weight: 399;
  margin-top: -10px;
  font-style: italic;
}

.benefits {
  width: 40vw;
  margin-top: 1px;
}

.h4-text {
  width: 90%;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin: 3px 0 0 5px;
}

.h4-text h4 {
  font-size: 15px;
  font-weight: 500;
  margin: 0px 6px 0 0;
}

.quantity {
  display: flex;
  font-size: 15px;
  width: 95%;
  align-items: baseline;
  justify-content: flex-end;
  height: 20px;
  margin-top: -90px;
}

.quantity h4 {
  font-size: 15px;
  font-weight: 700;
  margin-right: 3px;
}

.box {
  font-weight: 700;
  display: flex;
  font-size: 15px;
  width: 95%;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: -10px;
  padding: 0 10px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 30vw;
  margin: 10px 0 0 500px;
}

.d-button {
  line-height: 1.5;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 15px;
  background-color: #546747;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
}

@media only screen and (min-device-width: 1659px) and (max-device-width: 1920px) {
  .item-detail {
    width: 59vw;
    margin-bottom: 2.5rem;
  }
  .detail {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
  .button-container {
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
    margin-left: 37rem;
  }
}
@media only screen and (min-device-width: 1403px) and (max-device-width: 1658px) {
  .item-detail {
    width: 57vw;
  }
  .detail {
    margin-bottom: 3rem;
  }
  .benefits {
    width: 35vw;
  }
  .button-container {
    margin-top: 2rem;
    width: 30vw;
    margin-left: 39rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1402px) {
  .item-detail {
    width: 66vw;
  }
  .detail {
    margin-bottom: 3rem;
  }
  .benefits {
    width: 41vw;
  }
  .button-container {
    margin-top: 2rem;
    width: 30vw;
    margin-left: 34rem;
  }
}

/* IPAD */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .item-detail {
    font-family: "Roboto", sans-serif;
    display: flex;
    background-color: white;
    margin: 150px auto 0 auto;
    width: 80vw;
  }

  .item-image {
    display: flex;
    background-size: cover;
  }

  .detail {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 20px 20px 20px;
  }

  .name {
    font-size: 25px;
    font-weight: 700;
  }

  .category {
    font-size: 15px;
    font-weight: 300;
    margin-top: -10px;
  }

  .benefits {
    width: 40vw;
    margin-top: -5px;
  }

  .quantity {
    display: flex;
    font-size: 15px;
    width: 90%;
    align-items: baseline;
    justify-content: flex-end;
    height: 20px;
    margin-top: -40px;
  }

  .quantity h4 {
    font-size: 15px;
    font-weight: 700;
    margin-right: 3px;
  }

  .box {
    font-weight: 700;
    display: flex;
    font-size: 15px;
    width: 90%;
    align-items: baseline;
    justify-content: flex-end;
    margin-top: 0px;
    padding: 0 10px;
  }

  .button-container {
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
    margin: 20px 300px;
  }

  .d-button {
    line-height: 1.5;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 15px;
    background-color: #546747;
    color: white;
    border: none;
    border-radius: 2px;
  }
}

/* MOBILE */

@media only screen and (max-device-width: 768px) {
  .item-detail {
    font-family: "Roboto", sans-serif;
    display: flex;
    background-color: white;
    margin: 100px auto 0 auto;
    width: 85vw;
    flex-direction: column;
    align-items: center;
  }

  .item-image {
    min-width: 85vw;
    min-height: 50%;
    display: flex;
    background-size: cover;
  }

  .detail {
    width: 85vw;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 20px 20px 40px;
  }

  .name {
    font-size: 18px;
    font-weight: 700;
  }

  .category {
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
  }

  .benefits {
    width: 80vw;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .h4-text {
    width: 90%;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin: 5px 0 0 5px;
  }

  .h4-text h4 {
    font-size: 15px;
    font-weight: 500;
    margin: 0px 6px 0 0;
  }

  .quantity {
    display: flex;
    font-size: 15px;
    width: 90%;
    align-items: baseline;
    justify-content: flex-end;
    height: 20px;
    margin-top: -50px;
  }

  .quantity h4 {
    font-size: 15px;
    margin-right: 3px;
    font-weight: 500;
  }

  .box {
    font-weight: 700;
    display: flex;
    font-size: 15px;
    width: 90%;
    align-items: baseline;
    justify-content: flex-end;
    margin-top: 1px;
  }

  .button-container {
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    margin: 10px auto;
  }

  .d-button {
    line-height: 1.5;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 13px;
    background-color: #546747;
    color: white;
    border: none;
    border-radius: 2px;
  }
}
